# ============================================================
# Deepfake Detection and Explainability
# StyleGAN2-ADA + RISE
# Recommended Python version: 3.10
# ============================================================

# Deep Learning
torch==2.6.0
torchvision==0.21.0

# Numerical Computing
numpy==2.2.6
scipy==1.15.3
pandas==2.3.3

# Image Processing
opencv-python==4.13.0.92
Pillow==12.1.1
scikit-image==0.25.2
imageio==2.37.3
tifffile==2025.5.10
pyspng==0.1.4

# Machine Learning
scikit-learn==1.7.2
joblib==1.5.3

# Explainability
grad-cam==1.5.5
ttach==0.0.3

# Visualization
matplotlib==3.10.8
seaborn==0.13.2

# Utilities
tqdm==4.67.3
click==8.3.2
requests==2.33.1
packaging==26.0
ninja==1.13.0
fsspec==2026.2.0
networkx==3.4.2
typing_extensions==4.15.0

